# --- FastAPI and API-related ---
fastapi==0.115.13
uvicorn==0.34.3
python-dotenv==1.1.1
starlette==0.46.2
pydantic==2.11.7
pydantic_core==2.33.2
annotated-types==0.7.0
typing_extensions==4.14.0

# --- ML + NLP ---
scikit-learn==1.6.1
xgboost==3.0.2
shap==0.48.0
nltk==3.9.1
numpy==2.2.6
pandas==2.3.0
scipy==1.15.3
joblib==1.5.1
threadpoolctl==3.6.0

# --- Utilities ---
requests==2.32.4
tqdm==4.67.1
regex==2024.11.6
python-dateutil==2.9.0.post0
simplejson==3.20.1
